OWNER_EMAIL=
OWNER_PASSWORD_HASH=
OWNER_NAME=
OWNER_PHONE=
MP_PROD_ACCESS_TOKEN=
MP_PROD_PUBLIC_KEY=
MP_MODE=
MERCADO_PAGO_ACCESS_TOKEN=
PUBLIC_SITE_URL=
MERCADO_PAGO_NOTIFICATION_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
